__pycache__
*.ipynb
*.zip
.env
env
stash
notebooks
outputs_shuffled
todo.md
data/*/*
!data/*/dev/
!data/*/test/
!data/*/outputs/
!data/*/create_json.py

# DMS store files
.dms/
*.dms
dms_store/

# macOS system files
.DS_Store
**/.DS_Store
